<!--Code for the menu Marwa Syed 1401350-->
<ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
           </ion-buttons>
      <ion-title>About Me</ion-title> <!--Title for the About Page Marwa Syed 1401350-->
         </ion-toolbar>
 </ion-header>

 <ion-content>
  <ion-list>
  <ion-list-header>Details about Marwa Syed</ion-list-header> <!--Header for the About Page Marwa Syed 1401350-->
  <ion-item>
    <ion-icon name="logo-ionic" slot="start"></ion-icon>
  <p>Click here to see more details</p>>
  </ion-item>
  </ion-list>
  </ion-content>