<!--Added this code to every page on the list so the menu tab shows Marwa Syed 1401350-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button> <!--This adds the menu on the left side so user can navigate elsewhere Marwa Syed 1401350-->
        </ion-buttons>
    <ion-title>
    Experience
    </ion-title>
    </ion-toolbar>
   </ion-header>
  
   <ion-content>
    
    <ion-list-header ion-text color="primary">These are my past experiences</ion-list-header><!--Header for the Experience Page Marwa Syed 1401350-->
  
    <ion-card>
        <ion-card-header >
          <h2 ion-text color="dark"> Redlynx OY | 2018-</h2>
          <p>QC Trainee</p>
        </ion-card-header>
        <ion-card-content>
            RedLynx Oy is a Finnish video game developer based in Helsinki. Responsibilities include game testing, finding possible bugs, logging bugs, reproduction of bugs from forums, testing battlefield etc. 
        </ion-card-content>
      </ion-card>
    <ion-card>
        <ion-card-header >
          <h2 ion-text color="dark"> Reski OY | 2016-2017</h2>
          <p>Front End Developer</p>
        </ion-card-header>
        <ion-card-content>
            Reski OY is a startup that deals with embedded software and technology. Responsibilities include designing the look of the website. Introducing new features and resolve minor issues. As well as aid with the design of some graphics.
        </ion-card-content>
      </ion-card>
   </ion-content>