<!--contact.page.html file code for left side menu-->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <ion-title>
  Contact Me
  </ion-title>
  </ion-toolbar>
 </ion-header>

 <ion-content>
  <ion-list>
  <ion-list-header>Feel free to Contact Me!</ion-list-header><!--Header for the Contact Page Marwa Syed 1401350-->
  <ion-item>
  <ion-icon name="Contact" slot="start"></ion-icon>
  <p>Click here to get my contact details</p>
  </ion-item>
  </ion-list>
 </ion-content>