<!--Added this code to every page on the list so the menu tab shows Marwa Syed 1401350-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button><!--This adds the menu on the left side so user can navigate elsewhere Marwa Syed 1401350-->
        </ion-buttons>
    <ion-title>
    Volunteering
    </ion-title>
    </ion-toolbar>
   </ion-header>
  
   <ion-content>
    <ion-list>
    <ion-list-header>Here are some extra curricular activities I have participated in</ion-list-header><!--Header for the Volunteering Page Marwa Syed 1401350-->
    <ion-item>
    <ion-icon name="Happy" slot="start"></ion-icon>
    <p href="https://www.linkedin.com/in/marwasyed/">Tap for more</p>
    </ion-item>
    </ion-list>
   </ion-content>