<!--Code for the left side menu for homepage Marwa Syed 1401350-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
     <ion-title>Marwa Syed</ion-title> <!--Title for home page-->
      </ion-toolbar>
 </ion-header>

 <ion-content>
        <ion-list>
           <ion-list-header>Welcome to Marwa's Resume Application</ion-list-header> <!--Welcome header for the application Marwa Syed 1401350-->
            <ion-item>
            <ion-icon name="Home" slot="start"></ion-icon>

 <p>There is a side menu on the left that you can access to view more about my skills.</p> <!--Indication to check left menu Marwa Syed 1401350-->
  </ion-item>
  </ion-list>
  </ion-content>